<h3>User info</h3>
<%= image_tag user.get_profile_image(100, 100) %>
<table class="table">
  <tdoby>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name%></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tdoby>
</table>
<div class="row">
  <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block edit_user_4481" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>
